<h1>MyController#show</h1>
<p>Find me in app/views/my_controller/show.html.erb</p>


<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @game.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @game.description %>
</p>

<p>
  <strong>Deck:</strong>
  <%= @game.deck %>
</p>

<p>
  <strong>Table:</strong>
  <%= @game.table %>
</p>

<p>
  <strong>Player1 cards:</strong>
  <%= @game.players[0].player_cards %>
</p>

<p>
  <strong>Player2 cards:</strong>
  <%= @game.players[1].player_cards%>
</p>

<%= link_to 'Back', games_path %>
 
<p>
<%= @params %>
</p>